.pro-tabulator-table-wrapper {
    flex: 1;
    min-height: 0;
}

.pro-tabulator-table-body {
    min-height: 0;
    overflow-y: auto;
}

.pro-tabulator-pro-table-list-toolbar-container {
    column-gap: 10px;
    flex-direction: row !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pro-tabulator-pro-table-list-toolbar-left {
    margin-bottom: 0 !important;
}

.pro-tabulator-pro-table-list-toolbar-right {
    flex-wrap: nowrap !important;
    flex: 1;
    min-width: 0;
}

.pro-tabulator-pro-table-list-toolbar-filter {
    margin-right: auto !important;
    overflow-x: auto;
    overflow-y: hidden;
}

.pro-tabulator-pro-form-light-filter-container {
    flex-wrap: nowrap !important;
}

.pro-tabulator .pro-tabulator-table-wrapper .pro-tabulator-table-thead > tr > th,
.pro-tabulator .pro-tabulator-table-wrapper .pro-tabulator-table-thead > tr > td {
    font-weight: normal;
}

.pro-tabulator .pro-tabulator-table-wrapper .pro-tabulator-table-pagination.pro-tabulator-pagination {
    margin: 16px 0 0;
}

.pro-tabulator-pro {
    height: 100%;
}

.pro-tabulator {
    height: 100%;
}

.pro-tabulator-pro-table-list-toolbar-setting-item {
    margin: 0 4px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 16px;
    cursor: pointer;
}

.pro-tabulator-pro-table-list-toolbar-setting-item [class*=' pro-tabulator-tooltip'] {
    font-size: 16px;
}

.pro-tabulator .pro-tabulator-pro-card-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
